.file-analysis {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .file-analysis h2 {
    color: #0d6efd;
  }
  
  .upload-section {
    display: flex;
    flex-direction: column;
  }
  
  .upload-section .input-group {
    max-width: 500px;
    margin: 0 auto;
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
}
  
  .report-section {
    text-align: center;
  }
  
  .report-section h4 {
    color: #198754;
  }
  
  .vulnerabilities-section h4 {
    color: #dc3545;
  }
  
  .list-group-item {
    border: none;
    border-bottom: 1px solid #dee2e6;
  }
  
  .list-group-item:last-child {
    border-bottom: none;
  }
  